* {
  box-sizing: border-box;
}
main{
  overflow: hidden;
}
/* RETOQUES A LA PAGINA DE DETALLE PARA QUE SE VEA LINDA */
.imagenpelis {
  width: 23%;
  margin-top: 150px;
  margin-left: 30px;
  float:left;
}
.contenedorpelis {
  float: left;
  font-family: monospace;
  color: white;
  width: 70%;
  margin-top: 140px;
  margin-left: 20px;
}
.tituloPeli {
  font-size: 40px;
}

.trailer {
  float: left;
  margin-top: -200px;
  margin-left: 48%;
}
.estrella uk-icon{
  margin-left: 245px;
}
/* PARA CELULAR */
@media only screen and (max-width: 600px) {
  div.bienvenido p {
    margin-left: -12%;
  }
  .pelispreferidas a p{
    font-size: 14px;
    padding-top: 28PX;
      margin-left: 154px;
      margin-bottom: -8px;
  }
  select.generos {
   margin-top: -11px;
  }

  div.imagenpelis img {
  max-width: 160%;
  margin-left: -15px;
  }
  main{
    overflow: hidden;
  }
  div.contenedorpelis {
    position: absolute;
    margin-left: 240px;
  }
  div.contenedorpelis p {
    width: 84%;
    font-size: 12px;
  }
  iframe.trailer {
    position: relative;
    top: 400px;
    left: -269px;
  }
  div.contenedorpelis p.tituloPeli {
    font-size: 25px;
  }
  .uk-button {
    margin-top: 189px;
  }
  div.BotonVerRecomendaciones {
    position: relative;
    top: 400px;
  }
  div.contenedorpelis a.estrellita {
  position:  relative;
  margin-top: 100px;
  }
  div.pelispreferidas a p {
    margin-left: 150px;
    font-size: 15px;
    margin-top: -8px;
  }


}
