/* PARA TABLETS */
@media only screen and (max-width: 768px) {
#formBuscar {
  margin-top: -4px;
}
.pelispreferidas p{
  margin-left: 170px;
  margin-top: -50px;
}

}
/* PARA TABLETS */
@media only screen and (max-width: 600px)  {
  .pelispreferidas p {
    margin-left: -196px;
  }
}
