* {
  box-sizing: border-box;
}
body{
  background-image: url(https://i.pinimg.com/564x/c8/82/04/c88204ab3db0882f154847a6a6fa0f36.jpg);
  background-repeat: repeat;
  font-family: monospace;
  margin: 0px;
}
header {
  background: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 13px;
  margin: 0 auto;
}
div.contenedor {
  color: black;
  position: fixed;
  top: 0;
  border-radius: 13px;
  background-color: white;
  padding-top: 14px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
}
.logo {
  border-radius: 250px;
  height: 44px;
}
.nombres {
  list-style: none;
  font-size: 8px;
}
.ellogo {
  float: left;
  position: relative;
  margin-left: 1%;
}
.bienvenido {
float: left;
font-size: 25px;
position: absolute;
margin-top: -28px;
margin-left: 5%;
}
.pelispreferidas {
float: left;
position: absolute;
margin-top: 20px;
margin-left: 5%;
}
.buscador {
float: left;
position: absolute;
margin-left: 55%;
}
.generos {
  float: left;
  position: absolute;
  margin-left: 70%;
  padding-right: 100px;
  border-radius: 7px;
}
.usuario {
float: left;
position: absolute;
margin-left: 90%;
}
.botonUsuario{
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 7px;
  font-size: 13.5px;
}
.registro {
float: left;
position: absolute;
margin-left: 90%;
margin-top: 25px;
}
.botonRegistro {
background-color: black;
color: white;
border-color: black;
border-radius: 7px;
font-size:13.5px;
}

}
.secciones {
  color: white;
  position: absolute;
  margin-top: 70px;
}
/*  este buscador tiene display none para cuando se hace onclick en  el boton buscar em js aparezca la barra de escribir*/
#Buscador {
display: none;
}
#lupa {
width: 29px;
height: 15px;
}
#botonBuscar {
background: white;
}
