* {
  box-sizing: border-box;
}
body {
  background-image: url(https://i.pinimg.com/564x/c8/82/04/c88204ab3db0882f154847a6a6fa0f36.jpg);
  background-repeat: repeat;
  font-family: monospace;
  margin: 0px;
  height: 500vh;
}
header {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 13px;
  z-index: 10;
  padding-top: 25px;
  overflow: hidden;
  padding-bottom: 10px;
}

.logo {
  border-radius: 250px;
  height: 44px;
}
.nombres {
  list-style: none;
  font-size: 8px;
}
.ellogo {
  float: left;
  position: relative;
  margin-left: 1%;
}
.bienvenido {
float: left;
font-size: 25px;
position: absolute;
margin-top: -28px;
margin-left: 5%;
}
.pelispreferidas {
float: left;
position: absolute;
margin-top: 20px;
margin-left: 5%;
}
.buscador {
float: left;
position: absolute;
margin-left: 55%;
}
.generos {
  float: left;
  position: absolute;
  margin-left: 69%;
  padding-right: 100px;
  border-radius: 7px;
}
.usuario {
float: left;
position: absolute;
margin-left: 90%;
}

.botonUsuario{
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 7px;
  font-size: 13.5px;
}
.registro {
float: left;
position: absolute;
margin-left: 90%;
margin-top: 25px;
}
.botonRegistro {
background-color: black;
color: white;
border-color: black;
border-radius: 7px;
font-size:13.5px;
}

.secciones {
  color: white;
  position: absolute;
  margin-top: 100px;
  margin-left: 2%;
}

.populares {
  position: relative;
  font-size: 20px;
}

.puntaje {
  position: relative;
  font-size: 20px;
}

.proximamente {
  position: relative;
  font-size: 20px;
}
.titulos {
  /*estilo a mas populares, proximamente y mejor puntuadas*/
  font-size: 25px;
  font-family: monospace;
}
div.slider ul li img{
  width: 94%;
}
.slider {
  width: 100%;
}
/*  este buscador tiene display none para cuando se hace onclick en  el boton buscar em js aparezca la barra de escribir*/
#Buscador {
display: none;
}
#lupa {
width: 29px;
height: 15px;
}
#botonBuscar {
background: white;
}

a.icon {
  display: none;
}

@media only screen and (max-width: 600px) {

  /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Style the active link (or home/logo) */
/* .active {
  background-color: #4CAF50;
  color: white;
} */

}
